@model IEnumerable<DataProvider.Person>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div>
    <div>@item.FirstName</div>

    <div>@item.LastName</div>

    <div>@item.Age</div>

    <form action="./delete" method="post">
        <input type="hidden" name="id" value="@item.PersonId" />
        <input type="submit" value="Delete"/>
    </form>
    <hr />
    </div>

}