@{
    ViewData["Title"] = "Home Page";
}

<table>
    <tr>
        <th>PersonId</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>
            <input type="text" />
        </td>
        <td>
            <input type="text" />
        </td>
        <td>
            <input type="text" />
        </td>
        <td>
            <input type="text" />
        </td>
        <td>
            <button>add</button>
        </td>
        <td>
            <button>Update</button>
        </td>
    </tr>
    @foreach (var person in Model)
    {
        <tr>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.Age</td>
            <td>
                @using (Html.BeginForm("Delete", "Home", FormMethod.Post))
                {
                        <input type="hidden" name="personid" value="@person.PersonId" />
                        <input type="submit" value="Delete"/>
                }
          
            </td>
        </tr>
     }
</table>